.button-theme {
    background: #ff214f;
}

.button-theme:hover {
    background: #ea1945;
}

.setting-button i{
    color: #ff214f;
}

.top-header {
    background-color: #ff214f;
}

#page_scroller {
    background: #ff214f;
}

.edit-profile-photo {
    background: #ff214f;
}

/** Tab box 2 start **/
.tab-box-2 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: transparent;
    border-bottom: solid 2px #ff214f;
    border-radius: 0;
    color: #ff214f;
}

.tab-box .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background: #ff214f;
    border-radius: 0;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    border: 2px solid #ff214f;
}

.main-header .dropdown-menu a:hover {
    color: #ff214f;
}

input[type=checkbox]:checked + label:before {
    color: #ff214f;
}

.banner-bg-color{
    background: #ff214f;
}

.btn-theme{
    background: #ff214f;
    border: solid 1px #ff214f;
}

.btn-theme:hover{
    background: #ea1945;
    border: solid 1px #ea1945;
}

.btn-white-lg-outline:hover {
    color: #FFF;
    background: #ff214f;
    border: solid 2px #ff214f;
}

.properties-amenities ul li i {
    color: #ff214f
}

.pages-404 .btn {
    background: #ff214f;
}

.pages-404 .btn:hover {
    background: #ea1945;
}

.border-button-theme {
    color: #ff214f;
    border: 2px solid #ff214f;
}

.banner-detail-box .red-box {
    background: #ff214f url(../../img/slider-detail.png) center center;
}

.banner-detail-box .white-box .slide-price {
    color: #ff214f;
}

.banner-detail-box .white-box .slide-location::after {
    background-color: #ff214f;
}

.search-options-btn, .search-options-btn:hover {
    background: #ff214f;
}

.search-button {
    background: #ff214f;
}

.service-info .icon i {
    color: #ff214f;
}

.pricing-1 .plan-list ul li i{
    color: #ff214f;
}

.search-button:hover {
    color: #fff;
    background: #ea1945;
}

.pricing-1 .plan-header .plan-price{
    color: #ff214f;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color: #ff214f;
}

.bootstrap-select .dropdown-menu > .active > a,
.bootstrap-select .dropdown-menu > .active > a:focus,
.bootstrap-select .dropdown-menu > .active > a:hover {
    color: #ff214f;
}

.bootstrap-select .dropdown-menu li a:hover .text {
    color: #ff214f;
}

.listing-badges .Prodat {
    background-color: #ff214f;
}

.listing-badges .Rezervisan {
    background-color: #ffa500;
}

.listing-badges .Slobodan {
    background-color: #008000;
}

.recent-properties-box .detail header::after {
    background-color: #ff214f;
}

.blog-1 .detail .post-meta span a i {
    color: #ff214f;
}

.blog-1 .detail h3 a:hover{
    color: #ff214f;
}

.blog-1 .date-box{
    background: #ff214f;
}

.blog-1 .date-box::after {
    border-left: 15px solid #ff214f;
}

.property-box .detail .title a {
    color: #ff214f;
}

footer .footer-item .contact-info li label a:hover {
    color: #ff214f;
}

.service-box .heading .number h5 {
    color: #ff214f;
}

.service-box .heading .title h4 a:hover {
    color: #ff214f;
}

.main-header .form-inline .submit {
    border: solid 1px #ff214f;
    color: #ff214f;
}

.main-header .form-inline .submit:hover {
    border: solid 1px #ff214f;
    background: #ff214f;
    color: #fff;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #ff214f;
}

/*.main-header .navbar-expand-lg .navbar-nav .active .nav-link {
    color: #ff214f !important;
}*/

.main-header .navbar-expand-lg .user-account li a:hover {
    color: #ff214f;
}

.plan .price-header h1 {
    color: #ff214f;
}

.btn-outline {
    border: solid 1px #ff214f;
    color: #ff214f;
}

.btn-outline:hover {
    border: solid 1px #ea1945;
    background: #ea1945;
    color: #fff;
}

.btn-outline-2 {
    border: solid 2px #ff214f;
    color: #ff214f;
    font-weight: 600;
}

.heading-properties-2 h3 span {
    color: #ff214f;
}

.heading-properties-3 .rent{
    background: #ff214f;
}

.heading-properties-3 .location i{
    color: #ff214f;
}

.btn-outline-2:hover {
    border: solid 2px #ea1945;
    background: #ea1945;
    color: #fff;
}

.map-properties .map-properties-fetures span i{
    color: #ff214f;
}

.footer .form-inline .btn{
    background: #ff214f;
    color: #fff;
}

.about-box .detail h3 {
    color: #ff214f;
}

li.active.btn.filtr-button.filtr {
    color: #fff;
    background: #ff214f;
}

.filteriz-navigation li:hover{
    color: #fff;
    background: #ff214f;
}

.change-view-btn {
    color: #ff214f;
    border: solid 1px #ff214f;
}

.change-view-btn:hover {
    border: solid 1px #ff214f;
    background: #ff214f;
}

.sub-banner .page-info .breadcrumb-area ul li a:hover {
    color: #ff214f;
}

.active-view-btn {
    background: #ff214f;
    border: solid 1px #ff214f;
}

.active-view-btn:hover {
    border: solid 1px #ff214f;
    color: #ff214f;
}

.show-more-options {
    color: #ff214f !important;
}

.form-content-box .footer span a {
    color: #ff214f;
}

.pagination > li > .active {
    background: #ff214f;
}

.pagination > li > a:hover {
    background: #ff214f;
    color: #fff;
}

.read-more {
    color: #ff214f;
}

.blog-3 .date-box {
    background: #ff214f;
}

.blog-3 .date-box::after {
    border-right: 15px solid #ff214f;
}

.blog-3 .detail h3 a {
    color: #ff214f;
}

.blog-3 .detail .post-meta span a i {
    color: #ff214f;
}

.range-slider .ui-slider .ui-slider-handle {
    background: #ff214f;
}

.our-agent-sidebar .carousel-indicators .active {
    background: #ff214f;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid #ff214f;
}

.range-slider .ui-widget-header {
    background-color: #ff214f;
}

.posts-by-category ul li a:hover {
    color: #ff214f;
}

.tags-box ul li a:hover {
    border: 1px solid #ff214f;
    background: #ff214f;
}

.latest-tweet a {
    color: #ff214f;
}

.comment-meta a {
    color: #ff214f;
}

.comment-meta a:hover {
    color: #ea1945;
}

.blog-tags a:hover {
    border: 1px solid #ff214f;
    background: #ff214f;
    color: #fff;
}

.banner-6 .rent {
    background: #ff214f;
}

.banner-6 .meta ul li i {
    color: #ff214f;
}

.price-box span{
    color: #ff214f;
    font-weight: 700;
}

.banner-6 .location i {
    color: #ff214f;
}

.banner-6 h2 span{
    color: #ff214f;
}

.leaflet-container a.leaflet-popup-close-button {
   color: #ff214f;
}

.breadcrumbs li a:hover {
    color: #ff214f;
}

.helping-center ul li i {
    color: #ff214f;
}

.my-account-box .title::after {
    background-color: #ff214f;
}

.dashboard-nav ul li.active, .dashboard-nav ul li:hover {
    border-color: #ff214f;
}

.breadcrumb-nav ul .active {
    color: #ff214f;
}

.dashboard-nav ul li a:hover {
    color: #ff214f;
}

.photoUpload {
    background: #ff214f;
}

.typography-page mark.color {
    background-color: #ff214f;
}

.faq-accordion .card-header .collapsed.card-title:before {
    color: #ff214f;
}

.manage-table .title-container h2 a {
    color: #ff214f;
}

.manage-table .action a:hover {
    color: #ff214f;
}

.comment-content .btn-1:hover{
    background: #ff214f;
    color: #fff;
}

.dashboard-nav ul li span.nav-tag {
    background: #ff214f;
}

.bg-active {
    background: #ff214f;
    color: #fff !important;
}

.typography .list-3 li:before, .list-2 li:before, .list-1 li:before {
    color: #ff214f;
}

.numbered.color.filled ol > li::before {
    border: 1px solid #ff214f;
    background-color: #ff214f;
}

.numbered.color ol > li::before {
    border: 1px solid #ff214f;
    color: #ff214f;
}

.widget-link:hover {
    color: #ff214f;
}

.coming-soon-inner .btn, .coming-soon-inner .btn:hover, .coming-soon-inner .btn:active {
    background: #ff214f;
}

.property-box-2 .detail .title a {
    color: #ff214f;
}

.view-all ul li a {
    color:  #ff214f;
    border: solid 1px #ff214f;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #ff214f;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    background-color: #ff214f;
}

.view-all ul li a:hover {
    background: #ff214f;
    border: solid 1px #ff214f;
    color: #fff;
}

.map-marker:hover {
    background-color: #ff214f;
    cursor: pointer;
}

.map-marker:hover:before {
    border-color: #ff214f transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color: #ff214f;
}

.map-marker.featured:hover:before {
    border-color: #ff214f transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid #ff214f;
}

.marker-active .map-marker {
    background-color: #ff214f;
}

.marker-active .map-marker:before {
    border-color: #ff214f transparent transparent transparent;
}

.slick-arrow-buton:hover{
    background: #ff214f;
}

.map-properties .address i {
    color: #ff214f;
}

.map-properties .map-content h4 a {
    color: #ff214f;
}

.dropzone-design:hover {
    border: 2px dashed #ff214f;
}

.hidden{
    display: none;
}

@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #ff214f;
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ff214f;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color: #ff214f !important;
    }

    .main-header .navbar-default .nav > li > a:hover {
        background: #ff214f;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #ff214f !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }
}

@media (min-width: 992px) {
    /*.header-transparent .navbar-expand-lg .navbar-nav .active .nav-link,
    .header-transparent .navbar-expand-lg .navbar-nav .nav-link:hover
    {
        color: #fff !important;
    }

    .header-transparent .navbar-expand-lg .navbar-nav .nav-link {
        color: #fff;
    }

    .header-transparent .link-color {
        color: #fff;
    }*/
}