	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/09/2018 20:55
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: auto;
font-style: normal;
margin-left: 0;
}

.flaticon-gym:before { content: "\f100"; }
.flaticon-clock:before { content: "\f101"; }
.flaticon-financial:before { content: "\f102"; }
.flaticon-lock:before { content: "\f103"; }
.flaticon-apartment:before { content: "\f104"; }
.flaticon-apartment-1:before { content: "\f105"; }
.flaticon-air-conditioner:before { content: "\f106"; }
.flaticon-mechanic:before { content: "\f107"; }
.flaticon-call-center:before { content: "\f108"; }
.flaticon-pin:before { content: "\f109"; }
.flaticon-calendar:before { content: "\f10a"; }
.flaticon-discount:before { content: "\f10b"; }
.flaticon-sale:before { content: "\f10c"; }
.flaticon-rent:before { content: "\f10d"; }
.flaticon-work:before { content: "\f10e"; }
.flaticon-comment:before { content: "\f10f"; }
.flaticon-people:before { content: "\f110"; }
.flaticon-user:before { content: "\f111"; }
.flaticon-user-1:before { content: "\f112"; }
.flaticon-fax:before { content: "\f113"; }
.flaticon-area:before { content: "\f114"; }
.flaticon-earth:before { content: "\f115"; }
.flaticon-balcony:before { content: "\f116"; }
.flaticon-plus:before { content: "\f117"; }
.flaticon-logout:before { content: "\f118"; }
.flaticon-dashboard:before { content: "\f119"; }
.flaticon-book:before { content: "\f11a"; }
.flaticon-bill:before { content: "\f11b"; }
.flaticon-heart:before { content: "\f11c"; }
.flaticon-phone:before { content: "\f11d"; }
.flaticon-mail:before { content: "\f11e"; }
.flaticon-hotel:before { content: "\f11f"; }
.flaticon-mail-1:before { content: "\f120"; }
.flaticon-bathroom:before { content: "\f121"; }
.flaticon-maid:before { content: "\f122"; }